<div class="container py-5">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-danger">
        Sorry, there was an error

        <ngContainer *ngIf="showErrorDetails">
          <strong>
            <em>: {{error}}</em>
          </strong>

          <div *ngIf="showErrorDescription">{{errorDescription}}</div>
        </ngContainer>

        <div *ngIf="showRequestId" class="request-id">
          Request Id: {{requestId}}
        </div>

      </div>
    </div>
  </div>
</div>
